input,textarea,select{-webkit-border-radius:0px;-moz-border-radius:0px;-khtml-border-radius:0px;border-radius:0px;}
.newsflash_seargh input{font-size:15px;margin:0 9px 0 0;padding:5px;}
.newsflash_seargh button{font-size:15px;margin:0;padding:0 10px;line-height:33px;height:33px;}